doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
    header
        h1 Corn Chips Online
        a(href='/businesses', title='List Corn Chip Providers') List Corn Chip Providers
        a(href='/businesses/add', title='Add Business') Add A Business
    block content
    
    footer
        p Corn Chips Online is in no way affiliated with official corn chip distributers or manufacturers
